<%- include('../partials/adm'); -%>

    <section style="
    
    height: 100vh;  
    background-size: cover; 
    background-position: center; 
    display: flex; 
    background-image:url('/adm.jpg');">
        <h2>Admin Dashboard</h2>
        <p>Welcome to the admin dashboard. From here, you can manage users, content, and settings.</p>
    </section>
</main>

<%- include('../partials/footer'); -%>