<%- include('../partials/header'); -%>
    <div class="timeline">
      <div class="container left-container">
        <img src="/logo.png">
        <div class="text-box">
			<h2>Day 1</h2>
			<small>ddmmyy</small>
        
          <p>Content for day 01 goes here.</p>
          <span class="left-container-arrow"></span>
        </div>
      </div>
	  <div class="container right-container">
      <img src="/logo.png">
        <div class="text-box">
			<h2>Day 2</h2>
			<small>ddmmyy</small>
        
          <p>Content for day 02 goes here.</p>
          <span class="right-container-arrow"></span>
        </div>
      </div>
	  <div class="container left-container">
      <img src="/logo.png">
        <div class="text-box">
			<h2>Day 3</h2>
			<small>ddmmyy</small>
        
          <p>Content for day 03 goes here.</p>
          <span class="left-container-arrow"></span>
        </div>
      </div>
	</div>

  <%- include('../partials/footer'); -%>