<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Itinera</title>
  <link rel="stylesheet" href="/styles.css">



  <style>
    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      z-index: 1;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }
  </style>
</head>
<body>
  <nav>

    <h1><a href="/">Itinera</a></h1>
    <img src="/logo.jpg" alt="">
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/explore">Explore</a></li>
      <li><a href="/logout">Log out</a></li>
      <li><a href="/login">Login</a></li>
      <li class="dropdown">
        <a href="#" class="dropbtn">Sign up</a>
        <div class="dropdown-content">
          <a href="/admin">Admin</a>
          <a href="/traveller">Traveller</a>
          <a href="/guide">Guide</a>
          <a href="/taxi_driver">Taxi Driver</a>
          <a href="/hotel">Hotel</a>
          <a href="/activities">Activities</a>
        </div>
      </li>
    </ul>
  </nav>






<!-- 
  <nav>
    <h1><a href="/">Itinera</a></h1>
    <img src="/logo.jpg" alt="">
=======
    <img src="/logo.png" alt="">
    <h1><a href="/">Itinera Home</a></h1>
    
//>>>>>>> main
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="/explore">Explore</a></li>
          <li><a href="/search">search</a></li>
      
        <li><a href="/login">login</a></li>
        <li><a href="/trav_signup" class="btn">Sign up</a></li>
       
    </ul>
  </nav> -->
  
