<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Itinera</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <nav>
    <h1><a href="/">Itinera</a></h1>
    <img src="/logo.jpg" alt="">
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="/explore">Explore</a></li>
        <li><a href="/logout">Log out</a></li>
      
        <li><a href="/trav_login">Log in</a></li>
        <li><a href="/trav_signup" class="btn">Sign up</a></li>
    
    </ul>
  </nav>
  