npm i -g yarn
yarn init -y
yarn add -D @babel/core @babel/node @babel/reset -env
yarn add express dotenv neo4j-driver bcrypt
yarn add  nanoid@3 
yarn add ejs


yarn add @google/generative-ai
yarn add axios
yarn add body-parser
yarn add express-session

http://localhost:3005/