<%- include('partials/header'); -%>
<header>
    <h1>About Us</h1>
</header>

<!-- Main Content -->
<main>
    <div class="container">
        <h2>Our Story</h2>
        <p>Today, travel is common, but planning trips can be hard. With an abundance of destinations to explore and activities to experience, planning a trip can often become overwhelming and time-consuming. so a travel planner app makes it easier by putting everything in one place, like creating itineraries and finding things to do.</p>
    </div>

    <div class="container">
        <h2>Our Mission</h2>
        <p> Creating personalized and optimized itineraries and discovering local attractions, efficiency, and peace of mind to travelers, ensuring a smoother and more enjoyable journey from start to finish.</p>
    </div>

    
       

    <div class="container" style="max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;">
        <h2>Our Team</h2>
        <div class="team-cards" style="display: flex;
        flex-wrap: wrap;
        justify-content: center;">
            <div class="team-card" style="background-color: #f9f9f9;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin: 10px;
            width: 300px;
            text-align: left;">
                <h3 style="margin-bottom: 10px;">Annie Treasa Sabu</h3>
                <p style="margin-bottom: 10px;">S8 CSE</p>
                <a href="https://www.linkedin.com/in/annietreasasabu">LinkedIn Profile</a>
            </div>
            <div class="team-card" style="background-color: #f9f9f9;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin: 10px;
            width: 300px;
            text-align: left;">
                <h3 style="margin-bottom: 10px;">Nayana P</h3>
                <p style="margin-bottom: 10px;">S8 CSE</p>
                <a href="https://www.linkedin.com/in/annietreasasabu">LinkedIn Profile</a>
            </div>
            <div class="team-card" style="background-color: #f9f9f9;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin: 10px;
            width: 300px;
            text-align: left;">
                <h3 style="margin-bottom: 10px;">Sandra Sabu</h3>
                <p style="margin-bottom: 10px;">S8 CSE</p>
                <a href="https://www.linkedin.com/in/annietreasasabu">LinkedIn Profile</a>
            </div>
            
    </div>
    
</main>
<%- include('partials/footer'); -%>
















