<%- include('partials/header'); -%>

<h2>Activities Signup</h2>
<form action="/activities_home" onsubmit="return validatePassword()">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br><br>
    
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br><br>
    
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required><br><br>
    
    <label for="activityType">Type of Activity:</label>
    <input type="text" id="activityType" name="activityType" required><br><br>
    
    <label for="fee">Fee:</label>
    <input type="number" id="fee" name="fee" required><br><br>
    
    <label for="openingTime">Opening Time:</label>
    <input type="time" id="openingTime" name="openingTime" required><br><br>
    
    <label for="closingTime">Closing Time:</label>
    <input type="time" id="closingTime" name="closingTime" required><br><br>
    
    <label for="location">Location:</label>
    <input type="text" id="location" name="location" required><br><br>
    
    <label for="workingDays">Working Days:</label><br>
    <input type="checkbox" id="sunday" name="workingDays" value="Sunday">
    <label for="sunday">Sunday</label>
    <input type="checkbox" id="monday" name="workingDays" value="Monday">
    <label for="monday">Monday</label>
    <input type="checkbox" id="tuesday" name="workingDays" value="Tuesday">
    <label for="tuesday">Tuesday</label>
    <input type="checkbox" id="wednesday" name="workingDays" value="Wednesday">
    <label for="wednesday">Wednesday</label>
    <input type="checkbox" id="thursday" name="workingDays" value="Thursday">
    <label for="thursday">Thursday</label>
    <input type="checkbox" id="friday" name="workingDays" value="Friday">
    <label for="friday">Friday</label>
    <input type="checkbox" id="saturday" name="workingDays" value="Saturday">
    <label for="saturday">Saturday</label><br><br>

    <button type="submit">Signup</button>
</form>

<p>Already have an account? <a href="/activities_login">Login</a></p>
<p>Forgot password? <a href="/admin_forgot_password">Reset Password</a></p>
<p>Go to <a href="/">Home</a></p>

<%- include('partials/footer'); -%>

<script>
function validatePassword() {
    var password = document.getElementById("password").value;
    var confirmPassword = document.getElementById("confirmPassword").value;
    if (password !== confirmPassword) {
        alert("Passwords do not match!");
        return false;
    }
    return true;
}
</script>
