<%- include('partials/header'); -%>

<h2>Taxidriver Signup</h2>
<form action="/taxi_home" onsubmit="return validatePassword()">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br><br>
    
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br><br>
    
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required><br><br>
    
    <label for="availableDays">Available Days:</label><br>
    <input type="checkbox" id="sunday" name="availableDays" value="Sunday">
    <label for="sunday">Sunday</label>
    <input type="checkbox" id="monday" name="availableDays" value="Monday">
    <label for="monday">Monday</label>
    <input type="checkbox" id="tuesday" name="availableDays" value="Tuesday">
    <label for="tuesday">Tuesday</label>
    <input type="checkbox" id="wednesday" name="availableDays" value="Wednesday">
    <label for="wednesday">Wednesday</label>
    <input type="checkbox" id="thursday" name="availableDays" value="Thursday">
    <label for="thursday">Thursday</label>
    <input type="checkbox" id="friday" name="availableDays" value="Friday">
    <label for="friday">Friday</label>
    <input type="checkbox" id="saturday" name="availableDays" value="Saturday">
    <label for="saturday">Saturday</label><br><br>
    
    <label for="fee">Fee:</label>
    <input type="number" id="fee" name="fee" required><br><br>
    
    <label for="vehicleType">Type of Vehicle:</label>
    <select id="vehicleType" name="vehicleType" required>
        <option value="car">Car</option>
        <option value="jeep">Jeep</option>
    </select><br><br>
    
    <label for="seatingAvailability">Number of Seating Availability:</label>
    <input type="number" id="seatingAvailability" name="seatingAvailability" required><br><br>
    
    <label for="taxiNumber">Taxi Number:</label>
    <input type="text" id="taxiNumber" name="taxiNumber" required><br><br>
    
    <label for="location">Location:</label>
    <input type="text" id="location" name="location" required><br><br>
    
    <label for="languagesKnown">Languages Known:</label>
    <input type="text" id="languagesKnown" name="languagesKnown" required><br><br>
    
    <label for="isGuide">Are you a Guide? </label>
    <input type="radio" id="yes" name="isGuide" value="Yes">
    <label for="yes">Yes</label>
    <input type="radio" id="no" name="isGuide" value="No">
    <label for="no">No</label><br><br>
    
    <label for="availabilityDuration">Time Availability Duration:</label><br>
    <label for="startTime">Start Time:</label>
    <input type="time" id="startTime" name="startTime" required>
    <label for="endTime">End Time:</label>
    <input type="time" id="endTime" name="endTime" required><br><br>

    <button type="submit">Signup</button>
</form>

<p>Already have an account? <a href="/taxi_login">Login</a></p>
<p>Forgot password? <a href="/admin_forgot_password">Reset Password</a></p>
<p>Go to <a href="/">Home</a></p>

<%- include('partials/footer'); -%>

<script>
    function validatePassword() {
      var password = document.getElementById("password").value;
      var confirmPassword = document.getElementById("confirmPassword").value;
      if (password !== confirmPassword) {
        alert("Passwords do not match!");
        return false;
      }
      return true;
    }
</script>
