<%- include('partials/header'); -%>

<header>
  <div class="trav_home">
    <img src="/wall.jpg" alt="">
  </div>
  <div class="headings">
    <h2>Travel Itineraries</h2>
    <h3>By group 2</h3>
    <!-- <a href="/ititnerary" class="btn">Itinerary</a> -->
  </div>
</header>


<%- include('partials/footer'); -%>