<%- include('partials/header'); -%>

<div class="container">
  <h2>Sign Up</h2>
  <form id="signup_form">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" required>

      <label for="email">Email</label>
      <input type="email" id="email" name="email" required>

      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>

      <input type="submit" value="Sign Up">
  </form>
</div>
<div id="signup_link">
  Already have an account? <a href="trav_home.ejs" id="signup_or_signout">Sign Up</a>
</div>

<script>
  document.getElementById("signup_form").addEventListener("submit", function(event) {
      event.preventDefault(); // Prevent form submission

      // Perform form submission logic here (e.g., sending data to server)

      // Redirect to home page
      window.location.href = "home.html";

      // Change signup link to signout
      document.getElementById("signup_or_signout").innerText = "Sign Out";
      document.getElementById("signup_or_signout").href = "signout.html"; // Assuming signout.html is your signout page
  });
</script>
<%- include('partials/footer'); -%>
