<%- include('../partials/header'); -%>
<div class="card-container row">
    <div class="card col-md-4" style="width: 18rem;">
        <img src="/munnar.jpg" class="card-img-top" alt="Munnar">
        <div class="card-body">
            <h5 class="card-title">MUNNAR</h5>
            <p class="card-text">Munnar is a breathtaking hill station in Kerala, India, famed for its lush tea plantations, misty mountains, and serene landscapes.</p>
            <a href="https://en.wikipedia.org/wiki/Munnar" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    
    <div class="card col-md-4" style="width: 18rem;">
        <img src="/jaipur.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">JAIPUR</h5>
            <p class="card-text">Jaipur is a vibrant Rajasthani city known for its pink-hued architecture, rich history, and bustling markets.</p>
            <a href="https://en.wikipedia.org/wiki/Jaipur" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>

<%- include('../partials/footer'); -%>
